{%- capture json -%}
  {%- if metafields -%}
    {
    {%- for key in metafields -%}
      {%- assign metafield = metafields[key[0]] -%}
      ,{{- key[0] | json -}}:
      {%- if metafield.type == "list.page_reference" -%}
        {{- metafield -}}
      {%- elsif metafield.type == "dimension" or metafield.type == "weight" or metafield.type == "volume" -%}
        {
        "type": {{- metafield.value.type | json -}},
        "unit": {{- metafield.value.unit | json -}},
        "value": {{- metafield.value.value | json -}}
        }
      {%- elsif metafield.type == "rating" -%}
        {
        "rating": {{- metafield.value.rating | json -}},
        "scale_max": {{- metafield.value.scale_max | json -}},
        "scale_min": {{- metafield.value.scale_min | json -}}
        }
      {%- elsif metafield.type == "rich_text_field" -%}
        {% assign richtextStr = "" %}
        {% assign richtext = metafield | metafield_tag | replace: '<div class="metafield-rich_text_field">', "" | split: "</div>" %}
        {% for htmlBlock in richtext %}
          {% if forloop.last %}
            {% assign richtextStr = richtextStr | append: htmlBlock %}
            {% break %}
          {% endif %}
          {% assign richtextStr = richtextStr | append: htmlBlock | append: "</div>" %}
        {% endfor %}
        {{- richtextStr | json -}}
      {% elsif metafield.type == "file_reference" and metafield.value.media_type == "image" %}
        {%- render '_json.image', input_image: metafield.value -%}
      {%- elsif metafield.type == "metaobject_reference" or metafield.type == "mixed_reference" -%}
        {% render '_json.metaobject', input: metafield.value %}
      {%- elsif metafield.type == "list.metaobject_reference" or metafield.type == "list.mixed_reference" -%}
        [{% for value in metafield.value %}{% render '_json.metaobject', input: value %}{% unless forloop.last %},{% endunless %}{% endfor %}]
      {%- elsif metafield.type == "collection_reference"
      or metafield.type == "list.collection_reference"
      or metafield.type == "variant_reference"
      or metafield.type == "list.variant_reference"
      or metafield.type == "list.color"
      or metafield.type == "file_reference"
      or metafield.type == "list.file_reference"
      or metafield.type == "boolean"
      or metafield.type == "number_decimal"
      or metafield.type == "list.number_decimal"
      or metafield.type == "product_reference"
      or metafield.type == "list.product_reference"
      or metafield.type == "number_integer"
      or metafield.type == "list.number_integer" -%}
        {{- metafield.value | json -}}
      {%- elsif metafield.type == null and metafield.size < 500 -%}
        "{{- metafield | escape -}}"
      {%- else -%}
        {%- if metafield.value.size < 500 -%}{{- metafield.value | json -}}{%- else -%}null{%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    }
  {%- else -%}
    []
  {%- endif -%}
{%- endcapture -%}
{{- json | remove_first: ',' | trim | strip_newlines -}}
